/* Register outline */
.register-outer-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4.5rem;
}

.register-container{
    width: 90%;
    max-width: 500px;
    border: .5px solid #ffffff;
    padding: 3%;
    border-radius: 25px;
    border: 1px solid #003D79;
}

/* Register form */
.register-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.register-container 
.register-form 
.register-email-container, 
.register-password-container {
    margin-top: 3%;
}

.register-email-container, 
.register-password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border: 1px solid #003D79;
    padding: 2%;
    border-radius: 10px;
}
.register-email-container:focus-within, 
.register-password-container:focus-within{
    border: .5px solid #ffffff;
    border-radius: 10px;
    padding: 2%;

}

/* Register input */
.register-email-container input{
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.register-password-container input{
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

input:focus{
    outline: none;
}

/* Register Button */

.register-btn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #003D79;
    color: #ffffff;
    margin-bottom: 3%;
}

.register-btn:hover{
    border: .5px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

/* Register account button */

.have-account-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.have-account-container #existing-login-btn{
    text-decoration: underline;
}

/* First and Last name input */
.user-first-last-outercontainer{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.firstname-outercontainer, .lastname-outercontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.firstname-container, .lastname-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border: 1px solid #003D79;
    padding: 2%;
    border-radius: 10px;
}

.firstname-container input, .lastname-container input {
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
}

.firstname-container input:focus, .lastname-container input:focus {
    outline: none;
}
